RewriteEngine On
RewriteRule ^locations$ index.php?do=locations [L,NC,QSA]
RewriteRule ^pages/(.*)$ index.php?do=page&id=$1 [L,NC,QSA]
RewriteRule ^follow/(.*)$ index.php?do=follow&id=$1 [L,NC,QSA]
RewriteRule ^order/(.*)$ ?do=order&page=$1 [L,NC,QSA]
RewriteRule ^order$ index.php?do=order [L,NC,QSA]
RewriteRule ^pay$ index.php?do=pay [L,NC,QSA]
RewriteRule ^contact$ index.php?do=contact [L,NC,QSA]
RewriteRule ^myorders$ index.php?do=myorders [L,NC,QSA]
RewriteRule ^account$ index.php?do=account [L,NC,QSA]
RewriteRule ^logout$ action.php?do=logout [L,NC,QSA]
RewriteRule ^deal/(.*)$ index.php?do=order&deal=$1 [L,NC,QSA]
RewriteRule ^settings$ index.php?do=settings [L,NC,QSA]
RewriteRule ^paction.php$ action.php?post=admin [L,NC,QSA]
RewriteRule ^admin.php/(.*)/(.*)/(.*)$ admin.php?do=$1&id=$2&loc=$3 [L,NC,QSA]
RewriteRule ^admin.php/(.*)/(.*)$ admin.php?do=$1&id=$2 [L,NC,QSA]
RewriteRule ^admin.php/(.*)$ admin.php?do=$1 [L,NC,QSA]
RewriteRule ^confirm$ paypal.php?payment=credit&status=done [L,NC,QSA]
